<header class="header">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="header-logo">
            <img src="/images/cargando-Logo.png" alt="">

          </div>
        </div>
        <div class="col-6">
          <div class="header-menu">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Perfil</a></li>
              <li><a class="dropdown-item" href="#">Salir</a></li>
            </ul>
            <div class="usuario">
              <% if (typeof user != "undefined") { %>
                <span class="nick"><%= locals.user.nick%> </span>
              <% } else{%>
                <span>Invitado</span> 
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  