<!--HEAD MODULARIZADO-->
<%- include('./partials/head.ejs')%>

    <body>
        <%-include('./partials/header.ejs')%>
        
    </body>
    <!--FOOTER MODULARIZADO-->
    <%-include('./partials/footer.ejs')%>