<!--HEAD MODULARIZADO-->
<%- include('./partials/head.ejs')%>

    <body>
        <!--HEADER MODULARIZADO-->
        <%- include('./partials/header.ejs')%>
            <article>
                <div class="row">
                    <div class="12">
                        <div class="caja-login">
                            <form action="">
                                <label for="text"><i class="far fa-user"></i></label>
                                <input type="text">
                                <br>
                                <label for="password"><i class="fas fa-key"></i></label>
                                <input type="password">
                            </form>
                        </div>
                    </div>
                </div>
            </article>
    </body>


    <!--FOOTER MODULARIZADO-->
    <%- include('./partials/footer.ejs')%>