<!--HEAD MODULARIZADO-->
<%- include('./partials/head.ejs')%>

    <body>
        <!--HEADER MODULARIZADO-->
        <%- include('./partials/header.ejs')%>
            <article>
                <div class="row">
                    <div class="12">
                        <div class="caja-login">
                            <form action="" method="POST">
                                <label for="text"><i class="far fa-user"></i></label>
                                <input type="text">
                                <br>
                                <label for="password"><i class="fas fa-key"></i></label>
                                <input type="password">
                                <div class="col-12 btn-login">
                                    <a href="/register"><button type="button" class="btn btn-outline-success">Creá tu cuenta</button></a>
                                    <button type="submit" class="btn btn-outline-primary">Iniciar sesión</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </article>
    </body>


    <!--FOOTER MODULARIZADO-->
    <%- include('./partials/footer.ejs')%>