@import "Homeuser.css";
.caja-register{
    width: 223px;
    height: auto;
    border-radius: 5%;
    background-color: rgb(201, 201, 201, 0.30);
    
    position: absolute;
    margin: 16%;
}
.caja-register:hover{
    box-shadow: 5px 5px 2px #c1ccdf;
}
.caja-register form{
    padding: 2px;
}
article .btn-register{
    padding-top: 30px;
    display: flex;
    justify-self: start;
    justify-content: space-evenly;    
}
article .btn-register .btn{
    border-radius: 13%;
    margin: 3px;
}